img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  text-align: center;
  position: absolute;
}
.hero-container h1,
.hero-container p {
  margin: 0;
}
.hero-container > h1 {
  color:#000000;
  font-size: 100px;
  margin-top: 2rem;
}

.hero-container > p {
  margin-top: 20px;
  color: #000000;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.component-wrapper {
  position: relative;
  z-index: 1;
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

@media (max-width: 768px) {
  .hero-container > h1 {
    color:#000000;
    font-size: 60px;
    margin-top: 2rem;
  }
}