<h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Bienvenue <span id="animatedName" style="font-size: 1.5rem;display:inline;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;">&nbsp;Mr.&nbsp;&nbsp;{{ animatedText }}</span></h1>
<div  class="div-prin">
<div class="div1" (click)="divClicked1()">
    <img class="newseller" src="../../assets/images/newseller.jpg">
    <p class="p1">Déclarer un nouveau vendeur</p>
</div>
<div class="div2" (click)="divClicked2()">
    <img class="newseller" src="../../assets/images/salestate.jpg">
    <p class="p1">Consulter les états de vente</p>
</div>
</div>
