<h2 style="margin-left: 8rem;margin-top: 2rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Modifier votre état de vente</h2>
<div style="margin-left: 3rem;margin-top: 2rem;margin-bottom: 2rem;" *ngFor="let sale of salesForToday; let i = index">
  <div class="sale-item" *ngIf="shouldDisplayTpeAndRecharge(sale)">
    <p><strong>Produit:</strong> {{ sale.nom }}</p>
    <p><strong>Type:</strong> {{ sale.type }}</p>
    <p><strong>Quantité:</strong> {{ sale.quantite }}</p>
    <p><strong>Prix en DH:</strong> {{ sale.prix }}</p>
    <p *ngIf="shouldDisplayPhoneNumber(sale,i)"><strong>Numéro de téléphone:</strong> {{ sale.telephone }}</p>
    <p *ngIf="shouldDisplayIMEI(sale,i)"><strong>IMEI:</strong> {{ sale.imei }}</p>
    <p *ngIf="shouldDisplayCard(sale,i)"><strong>Avec carte:</strong> {{ sale.card }}</p>
    <p *ngIf="shouldDisplayPhoneNumber1(model[i].updatedNom)"><strong>Numéro de téléphone:</strong> {{ model[i].updatedNum }}</p>
    <p *ngIf="shouldDisplayIMEI1(model[i].updatedNom)"><strong>IMEI:</strong> {{ model[i].updatedImei }}</p>
    <p *ngIf="shouldDisplayCard1(model[i].updatedNom)"><strong>Avec carte:</strong> {{ model[i].updatedCard }}</p>

    

    <div class="update-form" *ngIf="shouldDisplayTpeAndRecharge(sale)">

        <label>Nouveau produit:</label>
        <select [(ngModel)]="model[i].updatedNom" (ngModelChange)="updateTypeOptions(i)" style="margin-left: 10px;" name="updatedNom">
          <option value=""></option>
          <option value="FORFAIT VOIX">FORFAIT VOIX</option>
          <option value="FORFAIT DATA">FORFAIT DATA</option>
          <option value="forfait fixe">forfait fixe</option>
          <option value="FORFAIT ESE  VOIX">FORFAIT ESE  VOIX</option>
          <option value="FORFAIT ESE DATA">FORFAIT ESE DATA</option>
          <option value="forfait ESE FIXE">forfait ESE FIXE</option>
          <option value="SIM">SIM</option>
          <option value="ACCESSOIRE">ACCESSOIRE</option>
          <option value="GSM">GSM</option>
          <option value="TERMINAL DATA">TERMINAL DATA</option>
          <option value="SERVICE">SERVICE</option>
    
        </select>
        <label style="margin-left: 10px;">Nouveau type:</label>
        <select [(ngModel)]="model[i].updatedType"  style="margin-left: 10px;" name="updatedType">
          <option value=""></option>
          <option *ngFor="let option of typeOptions" [value]="option.value">{{ option.label }}</option>
        </select>
      <label style="margin-left: 15px;" for="updatedQuantite">Nouvelle quantité:</label>
      <input style="margin-left: 10px;" type="number" id="updatedQuantite" [(ngModel)]="model[i].updatedQuantite" />
      <label style="margin-left: 15px;" for="updatedPrix">Nouveau Prix:</label>
      <input style="margin-left: 10px;" type="number" id="updatedPrix" [(ngModel)]="model[i].updatedPrix" />
      <br *ngIf="shouldReturnToline(sale,i)">
      <label *ngIf="shouldDisplayPhoneNumber(sale,i)" style="margin-left: 15px;" for="updatedNum">Nouveau numéro:</label>
      <input *ngIf="shouldDisplayPhoneNumber(sale,i)" style="margin-left: 10px;" type="string" id="updatedNum" [(ngModel)]="model[i].updatedNum" />
      <label *ngIf="shouldDisplayIMEI(sale,i)" style="margin-left: 15px;" for="updatedImei">Nouveau imei:</label>
      <input  *ngIf="shouldDisplayIMEI(sale,i)" style="margin-left: 10px;" type="string" id="updatedImei" [(ngModel)]="model[i].updatedImei" />
      <label *ngIf="shouldDisplayCard(sale,i)" style="margin-left: 15px;" for="updatedCard">Avec carte: :</label>
      <select *ngIf="shouldDisplayCard(sale,i)" style="height: 2rem;width: 3rem; margin-left: 10px;" type="string" id="updatedCard" [(ngModel)]="model[i].updatedCard"  >
        <option value=""></option>
        <option value="Oui">Oui</option>
        <option value="Non">Non</option>
      </select>
      <label *ngIf="shouldDisplayPhoneNumber1(model[i].updatedNom)" style="margin-left: 15px;" for="updatedNum">Nouveau numéro:</label>
      <input *ngIf="shouldDisplayPhoneNumber1(model[i].updatedNom)" style="margin-left: 10px;" type="string" id="updatedNum" [(ngModel)]="model[i].updatedNum" />
      <label *ngIf="shouldDisplayIMEI1(model[i].updatedNom)" style="margin-left: 15px;" for="updatedImei">Nouveau imei:</label>
      <input  *ngIf="shouldDisplayIMEI1(model[i].updatedNom)" style="margin-left: 10px;" type="string" id="updatedImei" [(ngModel)]="model[i].updatedImei" />
      <label *ngIf="shouldDisplayCard1(model[i].updatedNom)" style="margin-left: 15px;" for="updatedCard">Avec carte: :</label>
      <select *ngIf="shouldDisplayCard1(model[i].updatedNom)" style="height: 2rem;width: 3rem; margin-left: 10px;" type="string" id="updatedCard" [(ngModel)]="model[i].updatedCard"  >
        <option value=""></option>
        <option value="Oui">Oui</option>
        <option value="Non">Non</option>
      </select>
      <button style="margin-left: 15px;" (click)="updateAndClear(sale,i)">Modifier</button>
      <button style="margin-left: 15px;" (click)="removeSale(i)">Supprimer</button>
    </div>
  </div>
</div>