<h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Bienvenue<span id="animatedName" style="font-size: 1.5rem;display:inline;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;">&nbsp;&nbsp;{{ animatedText }}</span></h2>
<div>
    <div class='infosDiv'><span class='infos'>Informations personnelles:</span><br/><br/> <span class='item'>Nom complet:</span> &nbsp;{{nomComplet}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='item'>Téléphone:</span>&nbsp;{{phone}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class='item'>Ville:</span>&nbsp;{{ville}} </div>
    
</div>

  
<div style="display:flex;">
  <button class="btn--outline" (click)="declaration()">Déclarer vos ventes</button>
  <button class="btn--outline" (click)="states()">Consulter les états de vente</button>
</div>
