<h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Bienvenue<span id="animatedName" style="font-size: 1.5rem;display:inline;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;">&nbsp;&nbsp;{{ animatedText }}</span></h2>
<div>
  <div class='infosDiv'>
    <div class='infoRow'>
      <span class='item'>Nom complet:</span>
      <span class='value'>{{nomComplet}}</span>
    </div>
    <div class='infoRow'>
      <span class='item'>Téléphone:</span>
      <span class='value'>{{phone}}</span>
    </div>
    <div class='infoRow'>
      <span class='item'>Ville:</span>
      <span class='value'>{{ville}}</span>
    </div>
    <div class='infoRow'>
      <span class='item'>Code Agence:</span>
      <span class='value'>{{agence}}</span>
    </div>
  </div>
      
</div>

  
<div style="display:flex;">
  <div class="dashboard-buttons">
    <button class="dashboard-button" (click)="declaration()">
      <img src="../../../assets/images/sales.png" alt="Sales" class="dashboard-icon" />
      <span>Déclarer vos ventes</span>
      <img src="../../../assets/images/right-arrow.png" alt="Arrow" class="dashboard-arrow" />
    </button>
  
    <button class="dashboard-button" (click)="states()">
      <img src="../../../assets/images/report.png" alt="Report" class="dashboard-icon" />
      <span>Consulter les états de vente</span>
      <img src="../../../assets/images/right-arrow.png" alt="Arrow" class="dashboard-arrow" />
    </button>
  </div>
  
</div>
