.seller-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.seller-item {
  height: 14rem;
  width: 14rem;
  border: 2px solid #3498db;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden; /* Ensure the image stays within the container */
}

.seller-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.seller-item img {
  width: 50%;
  height: 70%; /* Adjust the height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 1rem 1rem 0 0;
}

.seller-name {
  margin: 1rem;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Change the font family */
  font-size: 1.2rem; /* Change the font size */
  color: #333; /* Change the text color */
}

.new-seller-indicator {
  height: 5px;
  width: 100%;
  background-color: #3498db;
  border-radius: 1rem 1rem 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .seller-item {
    width: 100%;
  }
}
