button {
    width: 100%; 
    padding: 10px; 
    background-color: #f1b362; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px;
  }
  
  .validation-message{
    color: red;
    margin-top: 4px;
  }
   button:hover {
    background-color: #7c7b77; 
    
  }
  .validation-message1{
    color: rgb(230, 150, 46);
  }
input{
  border:1px solid #ced4da;
  border-radius: 6px;
  width:98.5%;height:2rem
}
select{
  width: 100%; height: 2.5rem;
  border:1px solid #ced4da;
  border-radius: 6px
}
  form {
    width: 34%; 
    margin-left:  3rem ; 
    margin-top: 5rem;
  }
  .parent{
    display: flex;
    justify-content: space-around;
  }
  .div0{
    
  margin-top: 10rem;
  }
  .bt1{
border-radius: 2rem;
border:2px solid #f3c546;
color:#f3c546;
background-color: #fff;
  }
  .bt2{
    border-radius: 2rem;
    border:2px solid #f3aa23;
    color:#f3aa23;
background-color: #fff;

    margin-top: 1rem;
      }
      .bt1:hover {
        background-color: #f3cf82; 
        border: 0px;
        color: black;
      }
      .bt2:hover {
        background-color: #f3cf82; 
        border: 0px;
        color: black;
      }
  label {
    display: block; 
    margin-bottom: 5px; 
  }
  .feedback {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }
  .info {
    color: rgb(219, 120, 7);
  }
  
  .checkmark,
  .cross {
    margin-left: 5px;
  }
.parent{
  display:flex;
}
  @media (max-width: 768px) {
    form {
      width: 70%; 
      margin-left:  2rem ; 
      margin-top: 5rem;
    }
    .parent{
      display:flex;
      flex-direction: column;
    }
   
  }